@import "base";
@import "typography";

@import "./pages/landingpage";
@import "./pages/characters";
@import "./pages/character";
@import "./pages/tiers";
@import "./pages/teams";
@import "./pages/guides";

@import "./layouts/navigation";
@import "./layouts/footer";

@import "./components/character_icon";
@import "./components/icon";
@import "./components/search";
@import "./components/filter";
@import "./components/guide_table";
@import "./components/new-character";
@import "./components/features";
@import "./components/highlights";

@import "./components/Builds/builds";
@import "./components/Builds/build_item";
@import "./components/Builds/build_card";

@import "./components/CharacterInfo/character_info-list";
@import "./components/CharacterInfo/character-info-card";

@import "./components/Teams/team_card";
@import "./components/Teams/team_list";

@import "./components/character_showcase";
@import "./components/tier-card";