.landing-page {
    &__hero {
        display: flex;
        align-items: center;
        min-height: 100vh;
        background-image: linear-gradient(to bottom right, rgba($color-primary-5, .7), rgba($color-primary-5, .7)), url('../../assets/images/landing-bg.jpg');
        background-position: center;
        background-size:cover;
    }

    &__title {
        font-size: 4rem;
        text-shadow: 2px 2px 50px rgba(#fff, .7);
        @media only screen and (max-width: $bp-smallest) {
            font-size: 3rem;
        }
    }

    &__info {
        max-width: 50rem;
        margin-bottom: 10rem;
        @media only screen and (max-width: $bp-smallest) {
            padding: 0 1.2rem;
            text-align: center;
        }
    }

    &__text {
        font-size: 1.6rem;
        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.4rem;
        }
    }

    &__download {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        img {
            width: 125px;
            box-shadow: $shadow-light;
        }
        @media only screen and (max-width: $bp-smallest) {
            justify-content: center;
            img {
                width: 140px;
            }
        }
    }

    &__main {
        padding: 3rem 2rem;
        background: linear-gradient(to bottom right, $color-primary-5, $color-primary-2);
        display: flex;
    }

    &__features {
        display: flex;
        gap: 5rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }

}