.character_icon {

    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;

    &.big {
        height: 100px;
        width: 100px;
    }

    &.small {
        height: 50px;
        width: 50px;
    }

    &.tooltip {

        span {
            width: 150px;
            top: -220px;
            img {
                width: 100%;
                height: 100%;
            };
        }
    }

    &:hover &__image {
        box-shadow: $shadow-dark;
    }

    &:hover &__name {
        color: #fff;
    }


    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: $color-primary-2;
        box-shadow: $shadow;
        transition: all .2s;
    }

    &__weapon {
        position: absolute;
        top: -10px;
        left: -10px;
        height: 25px;
        width: 25px;
        background: $color-primary-2;
        padding: 2px;
        border-radius: 100%;
        box-shadow: $shadow;

        &.big {
            height: 30px;
            width: 30px;
        }

        &.small {
            top: -7px;
            left: -7px;
            height: 20px;
            width: 20px;
        }
    }

    &__element {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 25px;
        width: 25px;
        background: $color-primary-2;
        padding: 2px;
        border-radius: 100%;
        box-shadow: $shadow;

        &.big {
            height: 30px;
            width: 30px;
        }

        &.small {
            top: -7px;
            right: -7px;
            height: 20px;
            width: 20px;
        }
    }

    &__name {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-grey-light-1;
        transition: all .2s;
        line-height: 1.2;
    }

    &__new {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        padding: 2px 5px;
        text-transform: uppercase;
        color: #fff;
        background: #009688;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        box-shadow: $shadow;
    }

    &__stars {
        position: absolute;
        bottom: -15px;
        left: 10px;
        right: 0;
        text-align: center;
    }

    &__star {
        max-width: 17px;
        min-width: 25%;
        margin-left: -9px;
    }

}