.new {
    
    &__main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: center;
        margin-bottom: 5rem;
    }

    &__info {
        grid-column: 1/4;
        grid-row: 1/2;
        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / -1;
            grid-row: 1 / 2;
        }
        @media only screen and (max-width: $bp-smallest) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }
        img {
            text-align: center;
            width: 100%;
            height: auto;
        }
        p {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-grey-light-1;
            @media only screen and (max-width: $bp-smallest) {
                text-align: center;
            }
        }
    }

    &__video {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        margin: 2rem 0 0 0;
        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / -1;
            grid-row: 2 / 3;
        }
        @media only screen and (max-width: $bp-smallest) {
            grid-column: 1 / -1;
            margin: 2rem 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__icons {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 1rem;
        cursor: pointer;
        
        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            flex-direction: column;
            align-items: center;
        }
        @media only screen and (max-width: $bp-smallest) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            justify-content: center;
            flex-direction: row;
        }


        img {
            filter: brightness(40%);
            width: 10rem;
            height: 10rem;
        }

        img.active {
            filter: brightness(100%);
        }
    }

    &__portrait {
        grid-row:  1 / -1;
        grid-column: 4 / -1;
        width: 100%;
        object-fit: contain;
        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
        @media only screen and (max-width: $bp-smallest) {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }
    }

}