.nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;
    }

    background: $color-primary-5;   
    padding: 2rem 0;

    &.transparent {
        background: transparent;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem 0;
    }
    &__links {
        transition: all .3s;
        @media only screen and (max-width: $bp-medium) {
            position: absolute;
            padding: 3rem;
            top: 65px;
            right: 0;
            display: flex;
            visibility: hidden;
            opacity: 0;
            align-items: center;
            box-shadow: $shadow-light;
            border-radius: 7px;
            justify-content: center;
            background: $color-primary-5;
            z-index: 1000;
            flex-direction: column;
        }

    }

    &__links.active {
        opacity: 1;
        visibility: visible;
    }
    
    &__link {
        font-size: 1.6rem;
        font-weight: 400;
        padding: .5rem 1.3rem;
        color: $color-grey-light-1;
        transition: all .2s;
        border-bottom: 3px solid transparent;
        border-radius: 7px;

        &:hover {
            color: #fff;
            border-bottom: 3px solid $color-primary-1;
        } 

        &.active {
            color: #fff;
            border-bottom: 3px solid $color-primary-1;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
            font-weight: 500;
            padding: 1rem 3rem;
        }
    }

    &__ham {
        display: none;
        cursor: pointer;
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    &__hambar {
        position: relative;
        height: 2px;
        background: #fff;
        width: 50%;
        transition: all .2s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
        }

        &::after {
            top: 8px;
        }

        &::before {
            top: -8px;
        }

        &.active {
            transform: rotate(45deg);
        }

        &.active::before,
        &.active::after
        {
            top: 0;
        }
    }
}