.team_card {
    padding: 3rem 1rem 2rem 1rem;
    background: $color-primary-1;
    box-shadow: $shadow-light;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}